{{ ansible_managed | comment }}


{% if ipsec_checker_app_env %}
# DOMAIN NAME for Let's Encrypt if obtaining mode enabled.
APP_ENV="{{ ipsec_checker_app_env }}"
{% else %}
# Default value for APP_ENV if not provided
APP_ENV=development
{% endif %}

{% if ipsec_checker_integram_webhook_uri %}
# Webhook URI for Integram notifications
INTEGRAM_WEBHOOK_URI="{{ ipsec_checker_integram_webhook_uri }}"
{% else %}
# Default value for INTEGRAM_WEBHOOK_URI if not provided
INTEGRAM_WEBHOOK_URI="your_webhook_uri"
{% endif %}

{% if ipsec_checker_sentry_dsn %}
# DSN for Sentry error tracking
SENTRY_DSN="{{ ipsec_checker_sentry_dsn }}"
{% else %}
# Default value for SENTRY_DSN if not provided
SENTRY_DSN="your_dsn"
{% endif %}

{% if ipsec_checker_ip_list %}
# List of IP addresses to check
IP_LIST="{{ ipsec_checker_ip_list }}"
{% else %}
# Default value for IP_LIST if not provided
IP_LIST="127.0.0.1,8.8.8.8"
{% endif %}

{% if ipsec_checker_probe %}
# List of IP addresses to check
PROBE="{{ ipsec_checker_probe }}"
{% else %}
# Default value for PROBE if not provided
PROBE="3"
{% endif %}

{% if ipsec_checker_sleep %}
# List of IP addresses to check
SLEEP="{{ ipsec_checker_sleep }}"
{% else %}
# Default value for SLEEP if not provided
SLEEP="10"
{% endif %}

{{ ipsec_checker_server_env_extra }}
